@import url('https://static.lenstube.xyz/fonts/font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Matter', sans-serif;
  @apply antialiased dark:text-white bg-white bg-fixed dark:bg-neutral-900 text-black min-h-screen;
}

.btn-primary {
  @apply disabled:opacity-50 focus:outline-none font-bold border border-gray-700;
}

.btn-danger {
  @apply disabled:opacity-50 focus:outline-none bg-red-500 text-white;
}

.btn-hover {
  @apply disabled:opacity-50 focus:outline-none dark:hover:bg-gray-900 hover:bg-gray-900;
}

.btn-secondary {
  @apply disabled:opacity-50 rounded border border-pink-500 focus:outline-none dark:hover:bg-pink-100 hover:bg-pink-100 hover:text-pink-500  text-pink-600;
}

.text-secondary {
  @apply text-gray-700 dark:text-gray-300;
}

.bg-secondary {
  @apply dark:bg-[#121212] bg-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.middot:after {
  content: '•';
  @apply flex mx-1.5 text-[10px] opacity-60;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* interweave linkify */
.interweave-content a {
  @apply text-green-500;
}

.tippy-box[data-theme~='material'] > .tippy-arrow::before {
  transform: scale(0.7);
}
.tippy-box[data-theme~='light'] > .tippy-arrow::before {
  transform: scale(0.7);
}

.input-mentions-single {
  @apply w-full min-h-[2.4rem] text-sm;
}
.input-mentions-textarea {
  @apply min-h-[7rem] w-full text-sm;
}
.input-mentions-textarea textarea,
.input-mentions-single textarea {
  @apply bg-white text-sm resize-y px-2.5 py-2 rounded-sm focus:ring-1 focus:ring-green-500 dark:bg-gray-900 border border-gray-300 dark:border-gray-700 outline-none disabled:opacity-60 disabled:bg-gray-500 disabled:bg-opacity-20 w-full;
}
.input-mentions-textarea__suggestions,
.input-mentions-single__suggestions {
  @apply !bg-white dark:!bg-gray-800 p-1 !mt-8 !border dark:border-gray-700 rounded-sm w-56;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(181, 177, 177, 0.114); 
  border-radius: 10px;
}
.c-cSwjHS.c-lbNOYO ~.c-cSwjHS.c-lbNOYO{
  display: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}